@charset "UTF-8";
/* ======================== 
レスポンシブ設定　Min-Width
===========================*/
/* ======================== 
レスポンシブ設定　Min-Width
===========================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

:root {
  font-size: 100%;
}

body {
  color: #222222;
  font-family: sans-serif;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 1.4rem;
  margin-top: 1rem;
}

section {
  padding-top: 0.6rem;
}

.btn {
  display: inline-block;
  width: 3rem;
  max-width: 100%;
  padding: 0.2rem 0.1rem;
  background-color: #F2798C;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56);
  color: #fff;
  font-size: 0.2rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.btn:focus, .btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #F2798C;
}

@media screen and (min-width: 768px) {
  .itemUnit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemUnit {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.itemUnit_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .itemUnit_item {
    display: block;
    width: 33.333%;
  }
}

.itemUnit_imageWrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media screen and (min-width: 768px) {
  .itemUnit_imageWrapper {
    margin-bottom: 0.20rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemUnit_imageWrapper {
    position: relative;
    padding-top: 65%;
    overflow: hidden;
  }
}

.itemUnit_img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .itemUnit_img {
    width: 80%;
    border-radius: 0 30% 0 30%;
  }
}

@media screen and (min-width: 1024px) {
  .itemUnit_img {
    height: 4rem;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.itemUnit_body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.itemUnit_title {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .itemUnit_title {
    display: none;
  }
}

.itemUnit_title-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .itemUnit_title-tablet {
    display: block;
    font-size: 0.24rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.28rem;
    margin-bottom: 0.28rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemUnit_title-tablet {
    font-size: 0.32rem;
  }
}

.itemUnit_text {
  letter-spacing: 0.08em;
  line-height: 1.5;
  font-size: 0.875rem;
  padding-right: 10%;
  padding-left: 10%;
}

@media screen and (min-width: 768px) {
  .itemUnit_text {
    width: 65%;
    text-align: left;
    margin: 0 auto;
    padding-left: 0.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemUnit_text {
    font-size: 0.18rem;
  }
}

.itemUnit_item-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.sec_title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 2.375rem;
  font-family: Impact, Charcoal;
  text-align: center;
}

.cardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 160px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.card:nth-child(odd) {
  margin-right: 15px;
}

.card_imageWrapper {
  margin-bottom: 15px;
}

.cardBody_title {
  font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  margin-bottom: 16px;
}

.cardBody_text {
  text-align: left;
  font-size: 0.75rem;
  padding-left: 15px;
  padding-right: 15px;
}

.profile_wrapper {
  background-color: #313131;
  color: #fff;
}

.profile_body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile_list {
  margin-bottom: 10px;
  font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
}

.profile_history_lead {
  padding: 5px;
  font-size: 0.875rem;
}

.mainVisual {
  width: 100%;
  height: 70%;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(165, 165, 165, 0.2)), url(/image/mv-bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222222;
}

.mainVisual_body {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 230px;
  position: relative;
  top: 30%;
}

.mainVisual_title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 3.875rem;
  font-family: Impact, Charcoal;
  letter-spacing: 0.08em;
  line-height: 1.2;
  margin-left: 10px;
}

.skills {
  width: 100%;
  height: 500px;
}

.skills_wrapper {
  position: relative;
  width: 100%;
  height: 260px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)), url(/image/item-unit3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222222;
}

.skills_inner {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 90%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 12px 8px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 12px 8px 15px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  padding: 10px;
}

.skillLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  text-align: center;
}

.skillLists_list {
  width: 17%;
  height: 80px;
  margin: 5% 1.5%;
  background-color: rgba(27, 27, 27, 0.9);
  -webkit-box-shadow: 2px 3px 1px rgba(255, 255, 255, 0.7);
          box-shadow: 2px 3px 1px rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  line-height: 2.4;
}

.skillLists_iconWrapper {
  width: 24px;
  height: 29px;
  margin: 0 auto 18px;
}

.skillLists_icon {
  width: 24px;
  height: auto;
  line-height: 29px;
}

.skillLists_name {
  display: block;
  line-height: 1.2;
  font-size: 0.4375rem;
}

.service {
  background: #EAEAEA;
}

.oneRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-bottom: 40px;
  padding: 22px 9px;
  -webkit-box-shadow: 8px 8px 20px rgba(97, 97, 97, 0.589);
          box-shadow: 8px 8px 20px rgba(97, 97, 97, 0.589);
}

.oneRow_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.oneRow_img {
  width: 106px;
  height: 86px;
}

.oneRow_inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.oneRow_title {
  text-align: center;
  letter-spacing: 1.5px;
  font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
}

.oneRow_text {
  font-size: 0.75rem;
  padding-left: 15px;
  padding-right: 15px;
}

.bgBlack {
  background-color: #000000;
  padding: 0.05rem;
}

.sideSpace {
  margin-left: 4%;
  margin-right: 4%;
}

.hr-sytle {
  border-top: 5px solid #F2798C;
  width: 50%;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  .sp-only {
    display: none;
  }
}

.ff-impact {
  font-family: Impact, Charcoal;
}
/*# sourceMappingURL=style.css.map */