.cardWrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.card {
  width: 160px;
  flex: 0 0 160px;
  background-color: $white;
  text-align: center;
  box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 15px;

  &:nth-child(odd) {
    margin-right: 15px;
  }


  &_inner {
  }

  &_imageWrapper {
    margin-bottom: 15px;
  }

  }

.cardBody {
  &_title {
    font-family: $ff-hiragino;
    margin-bottom: 16px;
  }

  &_text {
    text-align: left;
    font-size: 0.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}


