.cardWrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.card {
  flex: 0 1 45%;
  background-color: $white;
  text-align: center;
  box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.4);
  margin-left: 2%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 15px;

  @include mq(md){
    flex: 0 1 30%;
  }



  &_inner {
  }

  &_imageWrapper {
    margin-bottom: 5%;
    height: 100px;

    @include mq(md){
      height: 140px;
    }
  }

  &_icon {
    width: 100px;

    @include mq(md){
      width: 120px;
   }
  }

  }

.cardBody {
  &_title {
    font-family: $ff-hiragino;
    margin-bottom: 16px;
    font-size: 1.25rem;
  }

  &_text {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;

  }
}


