.itemUnit {
  @include mq(md){
      display: flex;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
  }

  @include mq(lg){
      @include mqlg-width;
  }
  
  &_item {
    @include flex();
    height: 200px;


    @include mq(md){
      display: block;
      width: 33.333%;
    }
  }

  &_imageWrapper {
    flex: 0 1 50%;

    @include mq(md){
      margin-bottom: 0.20rem;
    }
    
    @include mq(lg){
      position: relative;
      padding-top: 65%;
      overflow: hidden;
    }
  }

  &_img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    @include mq(md){
      width: 80%;
      border-radius: 0 30% 0 30%;
    }

    @include mq(lg){
      height: 4rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

    }
  }

  &_body {
    flex: 0 1 50%;
  }

  &_title {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;


    @include mq(md){
      display: none;
    }
  }
  
  &_title-tablet {
    display: none;
    @include mq(md){
      display: block;
      font-size: 0.24rem;
      font-weight: bold;
      text-align: center;
      margin-top: 0.28rem;
      margin-bottom: 0.28rem;
    }

    @include mq(lg){
      font-size: 0.32rem;
    }
  }

  &_text {
    letter-spacing: 0.08em;
    line-height: 1.5;
    font-size: 0.875rem;
    padding-right: 10%;
    padding-left: 10%;

    @include mq(md){
      width: 65%;
      text-align: left;
      margin: 0 auto;
      padding-left: 0.3rem;
    }

    @include mq(lg){
      font-size: 0.18rem;
    }
  }
}

.itemUnit {
  &_item-rev {
    flex-direction: row-reverse;
  }
}