.itemUnit {
  @include mq(md){
      display: flex;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
  }

  
  &_item {
    @include flex();

    @include mq(md){
      display: block;
      width: 33.333%;

    }
  }

  &_imageWrapper {
    flex: 0 1 50%;
    height: 250px;

    @include mq(md){
      margin-bottom: 20px;
    }
    
    @include mq(lg){
     height: 300px;
    }
  }

  &_img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    @include mq(md){
      width: 90%;
      border-radius: 50px 0 50px 0;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    }

  }

  &_body {
    flex: 0 1 50%;
  }

  &_title {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;

    @include mq(md){
      display: none;
    }
  }
  
  &_title-tablet {
    display: none;
    @include mq(md){
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    @include mq(lg){
      font-size: 1.75rem;
    }
  }

  &_text {
    letter-spacing: 0.08em;
    line-height: 1.5;
    font-size: 0.875rem;
    padding-right: 10%;
    padding-left: 10%;

    @include mq(md){
      width: 80%;
      font-size: 1.125rem;
      text-align: left;
      margin: 0 auto;
      padding-left: 0.3rem;
    }

    @include mq(lg){
      font-size: 1.25rem;
      width: 85%;
      margin-left: 30px;
    }
  }
}

.itemUnit {
  &_item-rev {
    flex-direction: row-reverse;
  }
}