.profile {
  &_wrapper {
    background-color: #313131;
    color: $white;

    @include mq(md) {
      display: flex;
    }
  }

  &_imageWrapper {
    @include mq(md) {
      flex: 0 1 30%;
    }
  }

  &_body {
    padding-top: 20px;
    padding-bottom: 20px;

    @include mq(md) {}
      flex: 0 1 60%;
  }

  &_list {
    margin-bottom: 10px;
    font-family: $ff-hiragino;

    @include mq(md){
      font-size: 1.25rem;
    }
  }

  &_history {
    &_lead {
      padding: 5px;
      font-size: 0.875rem;

      @include mq(md) {
        font-size: 1rem;
      }
    }
  }
}