.service {
  background: $gray;

  @include mq(lg){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.oneRow {
  display: flex;
  background: $white;
  margin-bottom: 40px;
  padding: 22px 9px;
  box-shadow: (8px 8px 20px rgba(97, 97, 97, 0.589));

  &_imgWrapper {
    flex: 1 1 30%;
    margin-top: 10px;
    text-align: center;
  }

  &_img {
    width: 80%;
    max-width: 250px;
    height: auto;

  }

  &_inner {
    flex: 1 1 60%;
  }

  &_title {
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: $ff-hiragino;

    @include mq(md){
      font-size: 1.5rem;
    }
  }

  &_text {
    padding-left: 15px;
    padding-right: 15px;

  }
}