.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);

  @include mq(md){
    height: 100px;
  }


  &_title {
    color: $white;
    font-size: 1.75rem;
    font-family: $ff-impact;
    letter-spacing: 2.5px;


    @include mq(md){
      font-size: 2rem;
    }
  }

  &_link {
    transition: 0.5s ease-in-out;
    &:hover {
      background: rgb(255, 255, 255);
      color: #000;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}