.footer {
  width: 100%;
  background-color: $dark-gray;
  color: $white;
  position: relative;
  height: 8.75rem;
  
  &_inner {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  
  }

  &_sns {
    margin-bottom: 10px;
  }
}